{% load static %}
<!DOCTYPE html>

<html lang="en-us">

<head>
	<meta charset="utf-8">
	<title>FTTH - Layer3Fiber</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
	<meta name="description" content="This is meta description">
	<meta name="author" content="Themefisher">
	<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
	<link rel="icon" href="images/favicon.png" type="image/x-icon">

	<!-- # Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

	<!-- # CSS Plugins -->
	<link rel="stylesheet" href="{% static 'ftth/plugins/slick/slick.css' %}">
	<link rel="stylesheet" href="{% static 'ftth/plugins/font-awesome/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'ftth/plugins/font-awesome/brands.css' %}">
	<link rel="stylesheet" href="{% static 'ftth/plugins/font-awesome/solid.css' %}">

	<!-- # Main Style Sheet -->
	<link rel="stylesheet" href="{% static 'ftth/css/style.css' %}">
</head>

<body>

<!-- navigation -->
<header class="navigation bg-tertiary">
	<nav class="navbar navbar-expand-xl navbar-light text-center py-3">
		<div class="container">
			<a class="navbar-brand" href="#dashboard">
				<img loading="prelaod" decoding="async" class="img-fluid" width="160" src="{% static 'ftth/images/logo.png' %}" alt="Wallet">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
					<li class="nav-item"> <a class="nav-link" href="#banner">Home</a>
					</li>
					<li class="nav-item "> <a class="nav-link" href="#about">About</a>
					</li>
					<li class="nav-item "> <a class="nav-link" href="#how">How It Works</a>
					</li>
					<li class="nav-item "> <a class="nav-link" href="#pricing">Pricing</a>
					</li>
					<li class="nav-item "> <a class="nav-link" href="#faq">FAQs</a>
					</li>
					</li>
					<li class="nav-item "> <a class="nav-link" href="#contact">Contact</a>
					</li>
				</ul>
				<!-- <a href="#!" class="btn btn-outline-primary">Log In</a> -->
				<a href="#!" class="btn btn-primary ms-2 ms-lg-3">Self Service Portal</a>
			</div>
		</div>
	</nav>
</header>
<!-- /navigation -->

{% block body %}
{% endblock %}


<footer class="section-sm bg-tertiary">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-2 col-md-4 col-6 mb-4">
				<div class="footer-widget">
					<h5 class="mb-4 text-primary font-secondary">Service</h5>
					<ul class="list-unstyled">
						<li class="mb-2"><a href="#">Layer3 NG</a>
						</li>
						<li class="mb-2"><a href="#">Layer3Cloud</a>
						</li>
						<li class="mb-2"><a href="#">Self Service Portal</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-6 mb-4">
				<div class="footer-widget">
					<h5 class="mb-4 text-primary font-secondary">About</h5>
					<ul class="list-unstyled">
						<li class="mb-2"><a href="#about">About Us</a>
						</li>
						<li class="mb-2"><a href="#how">How it works</a>
						</li>
						<li class="mb-2"><a href="#pricing">Pricing</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-6 mb-4">
				<div class="footer-widget">
					<h5 class="mb-4 text-primary font-secondary">Help</h5>
					<ul class="list-unstyled">
						<li class="mb-2"><a href="">Contact Us</a>
						</li>
						<li class="mb-2"><a href="#faq">FAQs</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-12 newsletter-form">
				<div style="background-color: #F4F4F4; padding: 35px;">
					<h5 class="mb-4 text-primary font-secondary">Subscribe</h5>
					<div class="pe-0 pe-xl-5">
						<form action="#!" method="post" name="mc-embedded-subscribe-form" target="_blank">
							<div class="input-group mb-3">
								<input type="text" class="form-control shadow-none bg-white border-end-0" placeholder="Email address"> <span class="input-group-text border-0 p-0">
                    <button class="input-group-text border-0 bg-custom" type="submit" name="subscribe"
                      aria-label="Subscribe for Newsletter"><i class="fas fa-arrow-right"></i></button>
                  </span>
							</div>
							<div style="position: absolute; left: -5000px;" aria-hidden="true">
								<input type="text" name="b_463ee871f45d2d93748e77cad_a0a2c6d074" tabindex="-1">
							</div>
						</form>
					</div>
					<p class="mb-0"></p>
				</div>
			</div>
		</div>
		<div class="row align-items-center mt-5 text-center text-md-start">
			<div class="col-lg-4">
        <a href="">
          <img loading="prelaod" decoding="async" class="img-fluid" width="160" src="{% static 'ftth/images/logo.png' %}" alt="Wallet">
        </a>
			</div>
			<div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
				<ul class="list-unstyled list-inline mb-0 text-lg-center">
					<li class="list-inline-item me-4"><a class="text-black" href="privacy-policy.html">Privacy Policy</a>
					</li>
					<li class="list-inline-item me-4"><a class="text-black" href="terms.html">Terms &amp; Conditions</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-4 col-md-6 text-md-end mt-4 mt-md-0">
				<ul class="list-unstyled list-inline mb-0 social-icons">
					<li class="list-inline-item me-3"><a title="Explorer Facebook Profile" class="text-black" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
					</li>
					<li class="list-inline-item me-3"><a title="Explorer Twitter Profile" class="text-black" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
					</li>
					<li class="list-inline-item me-3"><a title="Explorer Instagram Profile" class="text-black" href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>


<!-- # JS Plugins -->
<script src="{% static 'ftth/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'ftth/plugins/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'ftth/plugins/slick/slick.min.js' %}"></script>
<script src="{% static 'ftth/plugins/scrollmenu/scrollmenu.min.js' %}"></script>

<!-- Main Script -->
<script src="{%static 'ftth/js/script.js' %}"></script>
<script rel="script" href="{% static 'ftth/js/custom.js' %}"></script>

<script type="text/javascript">
 // Ajax request to check availability
  $("#checkin").click(function (e) {
    var valLocate = document.getElementById("loan_locate");
    var location_id = valLocate.options[valLocate.selectedIndex].value;
	var client_name = document.getElementById('client_name').value;
    var client_email = document.getElementById('client_email').value;
    var client_phone = document.getElementById('client_phone').value;
    
    $.ajax({
      type: 'GET',
      url: "{% url 'getlocation' %}",
      data: { 
		"location_id": location_id,
		"client_name": client_name,
		"client_email": client_email,
		"client_phone": client_phone
	 },
      success: function (response) {
		if(response.data){
			var msg = "<h4>Thank You!</h4>";
			if((response.data[0].strength).toLowerCase() == "high" || (response.data[0].strength).toLowerCase() == "low"){
				msg += '<img style="width: 70px;" src="{% static 'ftth/images/success.jpg' %}"">';
				msg += "<p>Our service is available in your area.</p>";
			}else{
				msg += '<img style="width: 70px;" src="{% static 'ftth/images/warning.png' %}"">';
				msg += "<p>Our service is not available in your area at the moment.</p>"
			}
			msg += "<p>Someone will contact you shortly to give you more details.</p>"
			var coverageStatement = document.getElementById('statementModal').innerHTML = msg;

			// send email to KAM
			

			$('#applyLoan').modal('hide');
			$('#modalStats').modal('show');
		}else{
        	console.log(response.error);
			var msg = "<h4>Sorry!</h4>";
			msg += '<img style="width: 70px;" src="{% static 'ftth/images/warning.png' %}"">';
			msg += "<p>Something went wrong, Please try again.</p>"
			var coverageStatement = document.getElementById('statementModal').innerHTML = msg;

			$('#applyLoan').modal('hide');
			$('#modalStats').modal('show');
		}
      },
      error: function (response) {}
    })
    // $('#applyLoan').modal('hide');
    // var coverage = {"id":1, "name":"wuse","coverage":"High"}
    // var coverage1 = ("The Coverage is " + coverage.coverage);
    // console.log(coverage1);

    // var coverageStatement = document.getElementById('statementModal').innerHTML = coverage1;

    // $('#modalStats').modal('show');


    //e.preventDefault();



    /*var valLocate = document.getElementById("loan_locate");
    var text = valLocate.options[valLocate.selectedIndex].value;

    console.log(text);
  
    var valName = document.getElementById('loan_name').value;

    console.log(valName);

    
    var valEmail = document.getElementById('loan_email_address').value;
    console.log(valEmail);

    var valNum = document.getElementById('loan_number').value;
    console.log(valNum);

    */

  });
</script>

</body>
</html>